[submodule "externals/box2d"]
	path = externals/box2d
	url = https://github.com/erincatto/Box2D.git
[submodule "externals/SpriterPlusPlus"]
	path = externals/SpriterPlusPlus
	url = https://github.com/maxfish/SpriterPlusPlus_SDL2.git
